<p>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <span>Relógio Virtual</span>
    <span class="spacer"></span>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span>Última marcação</span>
      </button>
      <button mat-menu-item disabled>
        <span>Útimas marcações</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</p>

<section class="container flex-start column">
  <div class="item">
    <mat-icon class="watch" color="primary">watch_later</mat-icon>
  </div>
  <div class="item"><h1>HMB TECNOLOGIA LTDA.</h1></div>
  <div class="item"><h2>Fulano Da Silva Texugo</h2></div>
  <div class="item"><h3>05/11/2020</h3></div>
  <div class="item"><h2>14:56</h2></div>
  <mat-form-field class="item">
    <mat-label>Informe seu número de crachá</mat-label>
    <input
    matInput
    type="number"
    [(ngModel)]="badgeNumber"
  />
  </mat-form-field>
  <button
    mat-flat-button
    class="item"
    color="primary"
    (click)="registrarMarcacao()"
  >
    REGISTRAR MARCAÇÃO
  </button>
  <audio id="audio" src="http://dev.interactive-creation-works.net/1/1.ogg"></audio>
</section>

<footer class="footer">
  <mat-divider></mat-divider>
  <div class="item">MATILHA PONTO © 2020 - 1.0.0</div>
</footer>
