input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.container {
  display: flex;
  flex-flow: column;
  height: calc(100% - 95px);
  align-items: center;
}

.item {
	margin: 5px;
	padding: 5px 10px;
  text-align: center;
}

.mat-form-field, button{
  width: 300px;
}

.watch {
  margin: 30px;
  font-size: 80px;
}

.content{
  height: 800px;
}
